<div class="d-flex justify-content-center flex-column">
    <h1 class="text-center mt-3 mb-5"><%= @recipe.name%></h1>
    <div id="recipe-details" class="flex">
      <div class="d-flex justify-content-between my-3">
        <div>
          <h3>
            Preparation time: <%=@recipe.preparation_time %>
          </h3>
          <h3>
            Cooking time: <%=@recipe.cooking_time %>
          </h3>
          </h3>
        </div>
        <div>
          <!-- ruby on rails checkbox activate or deactivate public mode -->

      

          <%= form_with model: @recipe do |form| %>
            <div class="form-check form-switch">
              <label class="form-check-label">Public</label>
              <%= form.check_box :public, {onchange: "this.form.requestSubmit();", class: "form-check-input", role: "switch"}%>
            </div>
          <% end %>

        </div>
      </div>
      <div class="description my-5">
        <p><%= @recipe.description %></p>
      </div>
    </div>

    <div id="form-buttons">
      <div class="d-flex justify-content-between">
        <%= link_to "Generate shopping list", shopping_list_index_path, class: "btn btn-primary" %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addIngredientModal">
          Add Ingredient
        </button>
      </div>
      <div class="separator"></div>
    </div>
        <!--%= render @ingredients[0] %-->
        
    <table class="table table-striped" id="ingredients">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @ingredients.each do |recipe_food| %>
        <%= render recipe_food %>
      <% end %>
      </tbody>
    </table>
</div>

