
<tr id="<%= dom_id recipe_food %>">
  <td><%= recipe_food.food.name %></td>
  <td><%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %></td>
  <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
  <td>
    <%= button_to(
      "Delete ingredient",
      recipe_food_path(recipe_food.id),
      method: :delete,
      class: "btn btn-outline-danger"
    ) %>
  </td>
</tr>
